<footer>

    <div class="footer bg-body-tertiary">
        <div class="content">
           <div class="icons">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
           </div>
             <h4>&#169; WanderListing</h4>
             <h1></h1>
        </div>
    </div>
</footer>