<% layout("/layouts/Boilerplate.ejs") %>

<div class="row">
    <div class="alert mt-4 col-8 offset-2 alert-warning alert-dismissible fade show" role="alert">
        <strong>Error : </strong> <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
</div>
  