<% layout("/layouts/Boilerplate.ejs") %>

  
    <h3 style = "margin-top: 1rem;">All Listing</h3>


   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let list of listing){ %>
        <a class="listing-link" href="/home/<%= list._id  %>">
            <div class="card listing-card col card-overlay">
            <img src="<%- list.image %>" class="card-img-top" style="height: 20rem;" alt="">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text"><b><%- list.title %></b> <br>
            &#8377; <%- list.price %> / night
        </p>
              
            </div>
          </div></a>
        <% } %>
    
   </div>

    
